*{margin:0px; padding:0px;}
html{overflow: hidden;}
 

 html, body{width: 100%; height: 100%;}
 
.content{
	
	position: fixed;
	z-index: -5;
	transition: all 0.4s ease-in-out;
	width: 100%; height: 100%;
	background-attachment:fixed;
	position: relative;
	background: linear-gradient(to right top, #3b9fd7, #1b95de, #008ae3, #197de5, #3b6ee4, #5166e4, #665ee3, #7953e0, #8a50e2, #9a4ce4, #aa47e5, #ba41e5);
	background-attachment:fixed;
}


.firstSection_profileContainer{
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
}






#content_2{
	background: linear-gradient(to right top, #3b9fd7, #1b95de, #008ae3, #197de5, #3b6ee4, #5166e4, #665ee3, #7953e0, #8a50e2, #9a4ce4, #aa47e5, #ba41e5);
	background-attachment:fixed;
}

#content_3{
	background: linear-gradient(to right top, #3b9fd7, #1b95de, #008ae3, #197de5, #3b6ee4, #5166e4, #665ee3, #7953e0, #8a50e2, #9a4ce4, #aa47e5, #ba41e5);
	background-attachment:fixed;
}

#content_4{
	background: linear-gradient(to right bottom, #447ed6, #6a7ad9, #8b73d8, #aa6cd3, #c562c9);
	background-attachment:fixed;
}

#content_5{
	background: linear-gradient(to right bottom, #447ed6, #6a7ad9, #8b73d8, #aa6cd3, #c562c9);
	background-attachment:fixed;
}

#content_6{
	background: linear-gradient(to right bottom, #447ed6, #6a7ad9, #8b73d8, #aa6cd3, #c562c9);
	background-attachment:fixed;
}

#content_7{
	background: linear-gradient(to right top, #3b9fd7, #1b95de, #008ae3, #197de5, #3b6ee4, #5166e4, #665ee3, #7953e0, #8a50e2, #9a4ce4, #aa47e5, #ba41e5);
	background-attachment:fixed;
}



#content_7 > h2{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	font-size: 5em;
	font-weight: bold;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
	
}

a {

	padding-top: 60px;
}


.iconmouse{position: absolute; bottom: 45px; left: 50%; transform: translate(-50%, 0); z-index: 1; width: 20px; height: 40px; border:1px solid #fff; border-radius: 20px;}
@keyframes Mouse_act
{
0%{transform:translateY(5px);}

50%{transform:translateY(-5px);}

100%{transform:translateY(5px);}

}
.iconmouse::before{content: 'SCROLL'; display: block; position: absolute; top: -30px; left: 50%; margin-left: -24px; width: 60px; font-size: 13px; color: #fff; letter-spacing: 0px; font-weight:400;}
.iconmouse .ball{position: absolute; top: 8px; left: 8px; width:4px; height: 4px; background: #fff; border-radius: 50%; animation: Mouse_act 1s ease-out infinite;}


.head_name{
	color: #fff;
}	

.gradient-border {
	position: absolute;
	width: 155px;
	height: 155px; 
	--borderWidth: 3px;
	bottom: 38%; left: 50%;
	transform: translate(-50%,-50%);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  border-radius: 70%;
}


@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#imgAvatar {
	width: 155px;
	height: 155px; 	
	border-radius: 70%;
}

.firstSection_nameContainer{
	position: absolute;
	bottom: 37%; left: 50%;
	transform: translate(-50%,-50%);
	font-size: 2em;
	font-weight: bold;
	color: #fff;
	letter-spacing: 5px;
}

.firstSection_positionContainer{
	position: absolute;
	margin-top: 15px;
	bottom: 34%; left: 50%;
	transform: translate(-50%,-50%);
	font-size: 1em;
	color: #fff;
	letter-spacing: 5px;
}


.main_head{
	position: absolute;
	top: 10%;
	left: 5%;
}

#container > h1 {
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Press Start 2P';
  font-weight: 400;
  /*Create overlap*/
  
  margin: 0;
  line-height: 0;
  /*Animation*/
  
  animation: glitch1 2.5s infinite;
}

#container > h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
  font-weight: bold;
}

#container > h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
  font-weight: bold;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
