/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root {
  /*Size per each device*/
  --sm-min-width: 576px;
  --sm-max-width: 575px;
  --md-min-width: 768px;
  --md-max-width: 767px;
  --lg-min-width: 992px;
  --lg-max-width: 991px;
  --xl-min-width: 1200px;
  --xl-max-width: 1199px;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *w
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'Noah', auto, sans-serif;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.dummy {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -5;
  transition: all 0.4s ease-in-out;
}

#dummyBase {
  background: #447ed6;
}

#dummy_1 {
  background: linear-gradient(to right top, #3b9fd7, #1b95de, #008ae3, #197de5, #3b6ee4, #5166e4, #665ee3, #7953e0, #8a50e2, #9a4ce4, #aa47e5, #ba41e5);
  opacity: 0;
}

#dummy_2 {
  background: linear-gradient(to right top, #3b9fd7, #1b95de, #008ae3, #197de5, #3b6ee4, #5166e4, #665ee3, #7953e0, #8a50e2, #9a4ce4, #aa47e5, #ba41e5);
  opacity: 0;
}

#dummy_3 {
  background: linear-gradient(to right bottom, #447ed6, #6a7ad9, #8b73d8, #aa6cd3, #c562c9);
  opacity: 0;
}

#dummy_4 {
  background: linear-gradient(to right bottom, #447ed6, #6a7ad9, #8b73d8, #aa6cd3, #c562c9);
  opacity: 0;
}

#dummy_5 {
  background: linear-gradient(to right bottom, #447ed6, #6a7ad9, #8b73d8, #aa6cd3, #c562c9);
  opacity: 0;
}

#dummy_6 {
  background: linear-gradient(to right bottom, #447ed6, #6a7ad9, #8b73d8, #aa6cd3, #c562c9);
  opacity: 0;
}

#dummy_7 {
  background: linear-gradient(to right top, #232e80, #28338f, #2e379e, #343cad, #3b40bc, #4e43c4, #5f45cc, #7047d3, #8848d4, #9e4ad5, #b24cd5, #c54ed5);
  opacity: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 8rem);
  padding: 3rem 4rem 0 4rem;
  z-index: 1;
  display: flex;
}

@media (max-width: 991px) {
  header {
    padding: 2rem 3rem;
    width: calc(100% - 6rem);
  }
}

@media (max-width: 767px) {
  header {
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
  }
}

@media (max-width: 575px) {
  header {
    padding: 1rem;
  }
}

.h_logo {
  font-family: Furore, auto, sans-serif;
  color: white;
  font-size: 40px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.h_logo div {
  transition: all 0.3s
}

.h_logo div:first-child {
  transition: all 0.3s;
  opacity: 0;
}

.h_logo div:last-child {
  opacity: 1;
  position: absolute;
  font-size: 2rem;
  top: 0;
  left: 0;
  letter-spacing: -0.2em;
  animation: glitch-skew 1s;
}

.h_languageSelector {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  margin-left: 1.5rem;
  padding-top: 1.1rem;
  opacity: 0;
}

.h_languageSelector > div:first-child {
  margin-right: .3rem;
}

.h_languageSelector > div {
  color: white;
  font-family: Noah, auto, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  font-size: .9rem;
  letter-spacing: 1px;
}

.h_languageSelector > div:hover {
  font-size: 1.2rem;
}

#nav {
  position: fixed;
  opacity: 0;
  right: 0;
  padding: 0 2rem 0 0;
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: all 0.3s;
}

@media (max-width: 991px) {
  #nav {
    padding: 0 1rem 0 0;
  }
}

@media (max-width: 767px) {
  #nav {
    padding: 0;
    height: auto;
    width: 100%;
    bottom: 0;
  }
}

.nav_wrapper {
  width: 100%;
  height: 70%;
}

@media (max-width: 767px) {
  .nav_wrapper {
    display: flex;
  }
}

.nav_clicked {
  top: calc(50% - 50px);
}

.nav_clicked li.ghost {
  opacity: 1 !important;
  max-width: 2em !important;
}

.nav_wrapper div {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.nav_wrapper .nav_clicked {
  min-height: 100px;
}

@media (max-width: 767px) {
  .nav_wrapper .nav_clicked {
    min-height: auto;
  }
}

.nav_wrapper ul {
  padding: 0;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  position: relative;
}

.nav_wrapper li {
  display: inline-block;
  float: left;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  max-width: 2em;
  color: white;
  text-transform: uppercase;
}

.nav_wrapper li:first-child {
  margin-right: 2px;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.nav_wrapper ul:hover li:first-child,
.nav_wrapper ul:active li:first-child {
  font-weight: bold;
}

.nav_wrapper .nav_clicked li:first-child {
  font-weight: bold;
}

.nav_wrapper .nav_hidden li.ghost {
  opacity: 0;
  max-width: 0;
  line-height: 3;
  letter-spacing: 2px;
  font-size: 0.5rem;
}

.nav_wrapper .nav_hidden:hover li.ghost,
.nav_wrapper .nav_hidden:active li.ghost {
  opacity: 1;
  max-width: 2em;
}

.main {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.main section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

@media (min-width: 576px) {
  .main section {
    align-items: center;
  }
}

#firstSection, #sevenSection {
  align-items: center !important;
}

.firstSection_profileContainer {
  text-align: center;
}

.firstSection_avatarContainer {
  position: relative;
  z-index: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  padding: 2rem;
  margin: auto;
}

.firstSection_avatarContainer:before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation: rotate 3s linear infinite;
  background-image: linear-gradient(#e35252, #e34470, #d74290, #be4cae, #965ac8, #7c71e0, #5786f2, #0099ff, #00b9ff, #00d3fb, #00e8cf, #09f796);
}

.firstSection_avatarContainer:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 3px;
  top: 3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background: white;
  border-radius: 50%;
}

.firstSection_avatarContainer div {
  width: calc(100% + 58px);
  height: calc(100% + 58px);
  position: relative;
  border-radius: 50%;
  left: -29px;
  top: -29px;
  overflow: hidden;
}

.firstSection_avatarContainer div img {
  position: absolute;
  width: 170px;
  left: -8px;
  top: -44px;
}

.firstSection_nameContainer {
  margin-top: 1.5rem;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: default;
}

.firstSection_nameContainer span,
.firstSection_positionContainer span {
  transition: all 0.2s ease-in;
}

.firstSection_nameContainer span:hover {
  color: #bc1ed8;
}

.firstSection_positionContainer span:hover {
  color: #00ff73;
}

.firstSection_positionContainer {
  margin-top: 0.8rem;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: default;
}

.glitch {
  position: relative;
  color: white;
  font-size: 2rem;
  letter-spacing: -0.2em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-animation 5s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-animation-2 1s infinite linear alternate-reverse;
}

/* Expanded Animations */
@keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0);
  }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0);
  }
  65% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 69px, 0);
  }
  80% {
    clip: rect(23px, 9999px, 85px, 0);
  }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 20px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 91px, 0);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 85px, 0);
  }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 61px, 0);
  }
  25% {
    clip: rect(14px, 9999px, 79px, 0);
  }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(71px, 9999px, 75px, 0);
  }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0);
  }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(59px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 82px, 0);
  }
  80% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 49px, 0);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(5deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(4deg);
  }
  60% {
    transform: skew(1deg);
  }
  70% {
    transform: skew(3deg);
  }
  80% {
    transform: skew(3deg);
  }
  90% {
    transform: skew(1deg);
  }
  100% {
    transform: skew(-4deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@-webkit-keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0);
  }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0);
  }
  65% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 69px, 0);
  }
  80% {
    clip: rect(23px, 9999px, 85px, 0);
  }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 20px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 91px, 0);
  }
}

@-webkit-keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 85px, 0);
  }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 61px, 0);
  }
  25% {
    clip: rect(14px, 9999px, 79px, 0);
  }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(71px, 9999px, 75px, 0);
  }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0);
  }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(59px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 82px, 0);
  }
  80% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 49px, 0);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    transform: skew(5deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(4deg);
  }
  60% {
    transform: skew(1deg);
  }
  70% {
    transform: skew(3deg);
  }
  80% {
    transform: skew(3deg);
  }
  90% {
    transform: skew(1deg);
  }
  100% {
    transform: skew(-4deg);
  }
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@-moz-keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0);
  }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0);
  }
  65% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 69px, 0);
  }
  80% {
    clip: rect(23px, 9999px, 85px, 0);
  }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 20px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 91px, 0);
  }
}

@-moz-keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 85px, 0);
  }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 61px, 0);
  }
  25% {
    clip: rect(14px, 9999px, 79px, 0);
  }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(71px, 9999px, 75px, 0);
  }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0);
  }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(59px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 82px, 0);
  }
  80% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 49px, 0);
  }
}

@-moz-keyframes glitch-skew {
  0% {
    transform: skew(5deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(4deg);
  }
  60% {
    transform: skew(1deg);
  }
  70% {
    transform: skew(3deg);
  }
  80% {
    transform: skew(3deg);
  }
  90% {
    transform: skew(1deg);
  }
  100% {
    transform: skew(-4deg);
  }
}

@-moz-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@-o-keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0);
  }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0);
  }
  65% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 69px, 0);
  }
  80% {
    clip: rect(23px, 9999px, 85px, 0);
  }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 20px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 91px, 0);
  }
}

@-o-keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 85px, 0);
  }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 61px, 0);
  }
  25% {
    clip: rect(14px, 9999px, 79px, 0);
  }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(71px, 9999px, 75px, 0);
  }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0);
  }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(59px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 82px, 0);
  }
  80% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 49px, 0);
  }
}

@-o-keyframes glitch-skew {
  0% {
    transform: skew(5deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(4deg);
  }
  60% {
    transform: skew(1deg);
  }
  70% {
    transform: skew(3deg);
  }
  80% {
    transform: skew(3deg);
  }
  90% {
    transform: skew(1deg);
  }
  100% {
    transform: skew(-4deg);
  }
}

@-o-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#mouseScrollContainer {
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.mouse_scrollText {
  transform: rotate(-90deg);
  position: absolute;
  left: calc(50% - 27px);
  bottom: 167px;
  color: white;
  font-family: 'Noah', auto, sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  margin: auto;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  cursor: default;
}

@media (max-width: 991px) {
  .mouse_scrollText {
    bottom: 150px;
  }
}

@media (max-width: 575px) {
  .mouse_scrollText {
    bottom: 135px;
  }
}

.mouse_scroll {
  display: block;
  margin: 8rem auto 2rem auto;
  width: 24px;
  height: 100px;
  bottom: 2rem;
  cursor: default;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 991px) {
  .mouse_scroll {
    bottom: 1rem;
    margin: 8rem auto 1rem auto;
  }
}

@media (max-width: 575px) {
  .mouse_scroll {
    bottom: 1rem;
    margin: 8rem auto 0 auto;
  }
}

.mouse_scroll:hover + .mouse_scrollText {
  opacity: 1;
}

.mouse_scroll > div:last-child {
  margin-top: 7px;
}


.m_scroll_arrows {
  display: block;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0 auto 6px auto;
  width: 10px;
  height: 10px;
}


.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;

}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;

  animation-delay: .2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;

  animation-delay: .3s;
  animation-direction: alternate;


  margin-top: -6px;
}

.mouse {
  height: 29px;
  width: 17px;
  border-radius: 14px;
  transform: none;
  border: 1px solid white;
  margin: auto;
}

.wheel {
  display: block;
  margin: 3px auto;
  background: white;
  position: relative;
  height: 1px;
  width: 1px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-o-keyframes mouse-wheel {

  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@keyframes mouse-wheel {

  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {

  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes mouse-scroll {

  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes mouse-scroll {

  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {

  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

#secondSection,
#thirdSection,
#fourthSection,
#fifthSection,
#sixthSection {
  justify-content: left !important;
}

.secondSection_aboutContainer {
  padding: 4rem;
  max-width: 60%;
}

@media (max-width: 991px) {
  .secondSection_aboutContainer {
    padding: 3rem;
    max-width: 80%;
  }
}

@media (max-width: 767px) {
  .secondSection_aboutContainer {
    padding: 2rem;
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .secondSection_aboutContainer {
    padding: 5rem 1rem 1rem 1rem;
    max-width: 100%;
  }
}

.secondSection_aboutContainer div {
  color: white;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 2px;
  font-size: .8rem;
  margin-bottom: 1rem;
  cursor: default;
}

@media (max-width: 575px) {
  .secondSection_aboutContainer div {
    font-size: .9rem;
  }
}

.secondSection_aboutContainer div span {
  transition: all 0.4s;
}

.secondSection_aboutContainer div:not(.secondSection_sentenseWrapper):hover span {
  font-weight: bold;
  font-size: 1rem;
}

.secondSection_sentenseWrapper div {
  margin: 0;
}

.secondSection_sentenseWrapper div {
  display: inline-block;
}

.thirdSection_portfolioContainer {
  padding: 4rem;
  text-align: left;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  line-height: 1.7;
  cursor: default;
  max-width: 60%;
}

@media (max-width: 991px) {
  .thirdSection_portfolioContainer {
    padding: 3rem;
    font-size: 0.8rem;
    max-width: 70%;
  }
}

@media (max-width: 767px) {
  .thirdSection_portfolioContainer {
    padding: 2rem;
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .thirdSection_portfolioContainer {
    padding: 5rem 1rem 1rem 1rem;
    max-width: 100%;
  }
}

.thirdSection_company {
  font-size: 1.6rem;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .thirdSection_company {
    font-size: 1.3rem;
  }
}

.thirdSection_linkWrapper {
  display: inline-block;
}

.thirdSection_linkWrapper a {
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.thirdSection_github {
  width: 30px;
}

.thirdSection_position {
  font-size: 1.4rem;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .thirdSection_position {
    font-size: 1.3rem;
  }
}

.thirdSection_dates {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

@media (max-width: 991px) {
  .thirdSection_dates {
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .thirdSection_dates {
    font-size: 1.3rem;
  }
}

.thirdSection_careerTitle {
  font-weight: bold;
}

.thirdSection_skillContainer ul {
  position: absolute;
  left: 0;
  top: 1.3rem;
}

.thirdSection_careerList li {
  margin-bottom: 8px;
}

@media (max-width: 991px) {
  .thirdSection_careerList li {
    margin-bottom: 4px;
  }
}


@media (max-width: 575px) {
  .thirdSection_careerList li:nth-child(4),
  .thirdSection_careerList li:nth-child(5),
  .thirdSection_careerList li:nth-child(6) {
    display: none;
  }
}

.thirdSection_careerList li:hover {
  font-weight: bold;
}

.thirdSection_companyList li {
  margin-bottom: 8px;
}

.thirdSection_companyList li span {
  margin-right: 0.6rem;
  transition: all 0.4s;
}

.thirdSection_companyList li span:hover {
  font-weight: bold;
}

.thirdSection_skillContainer {
  position: relative;
}

.thirdSection_skillTitle {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media (max-width: 991px) {
  .thirdSection_skillTitle {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .thirdSection_skillTitle {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 575px) {
  .thirdSection_skillTitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.thirdSection_skillList span {
  transition: all 0.4s ease-in-out;
}

.thirdSection_skillList span:hover {
  font-weight: bold;
  font-size: 0.9rem;
}

.hover {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.hover:before, .hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 4px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.4s;
  opacity: 0;
  background-color: #ffffff;
}

.hover.hover-1:before, .hover.hover-1:after {
  left: 0;
}

.thirdSection_linkWrapper:hover .hover:before, #examples .thirdSection_linkWrapper:hover .hover:after {
  width: 100%;
  opacity: 1;
}

.thirdSection_githubContainer {
  padding-top: 1.5rem;
}

@media (max-width: 991px) {
  .thirdSection_githubContainer {
    padding-top: 1.2rem;
  }
}

@media (max-width: 767px) {
  .thirdSection_githubContainer {
    padding-top: 1rem;
  }
}

@media (max-width: 575px) {
  .thirdSection_githubContainer {
    padding-top: 2.8rem;
  }
}

.thirdSection_githubTitle {
  font-weight: bold;
}

.thirdSection_githubList a {
  color: white;
}

.thirdSection_githubList a:hover {
  font-weight: bold;
}

.thirdSection_portfolioBtnContainer {
  margin: 0 0 1.5rem 0;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.thirdSection_portfolioBtn {
  display: inline-flex;
  align-items: center;
  border: 1px solid white;
  padding: .5rem 1.5rem;
  color: #fff;
  font-family: Noah, auto, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  will-change: transform;
}

.thirdSection_portfolioBtn:hover {
  box-shadow: 0 4px 17px rgba(255, 255, 255, 0.32);
  transform: translate3d(0, -2px, 0);
}

.thirdSection_portfolioBtn:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 1px, 0);
}

.pulse {
  position: relative;
}

.pulse:before, .pulse:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .4);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  opacity: 0;
  margin: auto;
}

.pulse:before {
  animation: pulse 1.5s infinite linear;
}

.pulse:after {
  animation: pulse 2s 0.4s infinite linear;
}

.pulse:hover:before, .pulse:hover:after {
  display: none;
}


.meshCanvas {
  transition: all 0.4s ease-in-out;
  position: fixed;
  z-index: -1;
  left: 25%;
  top: 0;
  opacity: 0;
}

@media (max-width: 767px) {
  .meshCanvas {
    left: 15%;
  }
}

@media (max-width: 575px) {
  .meshCanvas {
    left: 0;
  }
}

.sevenSection_contactContainer {
  width: 60%;
}

@media (max-width: 767px) {
  .sevenSection_contactContainer {
    width: 70%;
  }
}

@media (max-width: 575px) {
  .sevenSection_contactContainer {
    width: 100%;
  }
}

.sevenSection_contactContainer div {
  text-align: center;
  margin-bottom: 3rem;
}

.sevenSection_contactContainer div:last-child {
  margin-bottom: 0;
}

.sevenSection_contactContainer a {
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  font-size: 0.8rem;
  transition: all 0.4s ease-in-out;
}

.sevenSection_contactContainer a:hover {
  font-weight: bold;
  font-size: 0.9rem;
}

#toTopContainer {
  text-align: center;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

#toTopContainer div {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 10%;
  font-size: 1rem;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff,
  0 0 100px #0ff,
  0 0 150px #0ff;
}

#toTopContainer div:hover {
  font-weight: bold;
}

.loadingPage {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  z-index: 10;
}

.loadingDummy {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 8;
  background: linear-gradient(to right top, #3b9fd7, #1b95de, #008ae3, #197de5, #3b6ee4, #5166e4, #665ee3, #7953e0, #8a50e2, #9a4ce4, #aa47e5, #ba41e5);
  left: 0;
  top: 0;
}

.loadingPage > .loadingText {
  cursor: default;
  font-size: 1.3rem;
  letter-spacing: .8rem;
  font-family: Furore, auto, sans-serif;
  top: 0;
  left: -6px;
  color: white;
  text-transform: uppercase;
  mix-blend-mode: screen;
  position: relative;
  white-space: nowrap;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  -webkit-animation: skew 2s infinite, flash .04s infinite;
  -moz-animation: skew 2s infinite, flash .04s infinite;
  -o-animation: skew 2s infinite, flash .04s infinite;
  animation: skew 2s infinite, flash .04s infinite;
}

.loadingPage > .loadingText:after, .loadingPage > .loadingText:before {
  content: attr(data-text);
  position: absolute;
  mix-blend-mode: screen;
}

.loadingPage > .loadingText:after {
  top: 0;
  left: 6px;
  color: blue;
  -webkit-animation: move 1.5s infinite;
  -moz-animation: move 1.5s infinite;
  -o-animation: move 1.5s infinite;
  animation: move 1.5s infinite;
}

.loadingPage > .loadingText:before {
  top: -2.4px;
  left: 3.6px;
  color: limegreen;
}

.line {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: blue;
  mix-blend-mode: screen;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  z-index: 9;
}

.line:after, .line:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  mix-blend-mode: screen;
}

.line:after {
  top: 2px;
  background: red;
}

.line:before {
  top: -2px;
  background: limegreen;
}

@-webkit-keyframes skew {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30.2% {
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
    -ms-transform: skewX(50deg);
    -o-transform: skewX(50deg);
    transform: skewX(50deg);
  }
  30.4% {
    -webkit-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    transform: skewX(-50deg);
  }
  31% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

@-moz-keyframes skew {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30.2% {
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
    -ms-transform: skewX(50deg);
    -o-transform: skewX(50deg);
    transform: skewX(50deg);
  }
  30.4% {
    -webkit-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    transform: skewX(-50deg);
  }
  31% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

@-o-keyframes skew {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30.2% {
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
    -ms-transform: skewX(50deg);
    -o-transform: skewX(50deg);
    transform: skewX(50deg);
  }
  30.4% {
    -webkit-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    transform: skewX(-50deg);
  }
  31% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

@keyframes skew {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30.2% {
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
    -ms-transform: skewX(50deg);
    -o-transform: skewX(50deg);
    transform: skewX(50deg);
  }
  30.4% {
    -webkit-transform: skewX(-50deg);
    -moz-transform: skewX(-50deg);
    -ms-transform: skewX(-50deg);
    -o-transform: skewX(-50deg);
    transform: skewX(-50deg);
  }
  31% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  31% {
    -webkit-transform: translateX(-6px);
    -moz-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    -o-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  33% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  98% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px);
    transform: translateX(6px);
  }
}

@-moz-keyframes move {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  31% {
    -webkit-transform: translateX(-6px);
    -moz-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    -o-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  33% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  98% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px);
    transform: translateX(6px);
  }
}

@-o-keyframes move {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  31% {
    -webkit-transform: translateX(-6px);
    -moz-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    -o-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  33% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  98% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px);
    transform: translateX(6px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  30% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  31% {
    -webkit-transform: translateX(-6px);
    -moz-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    -o-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  33% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  98% {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  100% {
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px);
    transform: translateX(6px);
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
}

@-moz-keyframes flash {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
}

@-o-keyframes flash {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
}

@keyframes flash {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
  50% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
}

@-webkit-keyframes lines {
  0% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
}

@-moz-keyframes lines {
  0% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
}

@-o-keyframes lines {
  0% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
}

@keyframes lines {
  0% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
}
